<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>saisie des Section</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
	<div class="position-absolute top-0 start-50 translate-middle-x mt-5">
<div class="card" style="width:25rem;">
  <div class="card-header">
    Saisie d'un etudiant
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
<form th:action="@{saveSection}" method="post" th:object="${section}">

		<div class="form-group">
		<label class="control-label">label:</label>
		<input type="text" th:field="*{label}" class="form-control" />
		<span th:errors="*{label}" class="text-danger"></span>
		</div>
		<div class="mt-2" >
			<button type="submit" class="btn btn-primary">Save</button>
		</div>
	</form>	
	</li>
  </ul>
</div>
	</div>
</body>
</html>